In [34]:
## 1. Create a pandas dataframe('df') with numpy random values (4 features and 4 obs)
import numpy as np
import pandas as pd

n1=pd.Series(np.random.rand(4))
n2=pd.Series(np.random.rand(4))
n3=pd.Series(np.random.rand(4))
n4=pd.Series(np.random.rand(4))
df=pd.DataFrame([n1,n2,n3,n4])
print(df)

          0         1         2         3
0  0.954271  0.836011  0.014325  0.973875
1  0.782721  0.602013  0.204418  0.042397
2  0.448645  0.233172  0.739034  0.826048
3  0.993388  0.682705  0.101670  0.868136

In [35]:
## 2. Rename the task-1 'df' dataframe columns to Random value 1, Random value 2, Random value 3, Random value 4
df.columns=['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.954271        0.836011        0.014325        0.973875
1        0.782721        0.602013        0.204418        0.042397
2        0.448645        0.233172        0.739034        0.826048
3        0.993388        0.682705        0.101670        0.868136

In [36]:
## 3. Find the desciptive statistics of the 'df' dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [37]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.794756        0.588475        0.264862        0.677614
std          0.248219        0.255980        0.325522        0.428020
min          0.448645        0.233172        0.014325        0.042397
25%          0.699202        0.509803        0.079834        0.630135
50%          0.868496        0.642359        0.153044        0.847092
75%          0.964051        0.721031        0.338072        0.894570
max          0.993388        0.836011        0.739034        0.973875

In [38]:
## 4. Check the null values in 'df' and find the datatype of the columns
print(df.isnull(),"\n")
print(df.dtypes)

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [39]:
## 5. Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.
print(df.iloc[:,[1,2]])

   Random value 2  Random value 3
0        0.836011        0.014325
1        0.602013        0.204418
2        0.233172        0.739034
3        0.682705        0.101670

In [40]:
print(df.loc[:,["Random value 2","Random value 3"]])

   Random value 2  Random value 3
0        0.836011        0.014325
1        0.602013        0.204418
2        0.233172        0.739034
3        0.682705        0.101670